
/* ANIMATIONS */


/* STARS ANIMATION */
@keyframes starPulse {
  from {opacity: 1;}
  to {opacity: 0.2;}
}

/* SUN ANIMATION */
@keyframes sunFire {
  from {
    box-shadow: 0 0 50px #f5c91a;

  }
  to   {
    box-shadow: 0 0 100px #f5c91a;

  }
}

/* ROTATE ANIMATION */
@keyframes spin {
  from {transform: rotate(0);}
  to   {transform: rotate(360deg);}
  
}

/* STYLES */

html, body {
  height: 100%;
  width: 100%;
}

#universe {
  background: black;
  background: radial-gradient(#555, #000);

}

#stars {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: url('/images/stars.png');

  animation: starPulse 2s infinite alternate;

}

#sun {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    margin-top: -100px;
    margin-left: -100px;
    height: 200px;
    width: 200px;
    background: orange;
    background: radial-gradient(#f5c313, #ec7e08 , orange);
    border-radius: 100%;
    box-shadow: 0 0 50px #f5c91a;
    animation: sunFire 2s infinite alternate;
}

#earthOrbit {
  border: 1px solid red hidden;
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
  height: 700px;
  width: 600px;
  border-radius: 100%;
  animation: spin 50s linear infinite;
}

#earth {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 0;
  margin-top: -40px;
  animation: spin 3s linear infinite;
  width: 50px;
  height: 50px;

}

#moonOrbit {
  border: 1px solid blue hidden ;
  height: 90px;
  width: 80px;
  position: absolute;
  z-index: 4;
  top: 50%;
  left: -20px;
  margin-top: -60px;
  border-radius: 100%;
  animation: spin 10s linear infinite reverse;
  
}

#moon {
  height: 10px;
  width: 10px;
  background: gray;
  background: radial-gradient(#ddd, #888);
  border-radius: 50%;
}